<div class="landing">
    <h1 style="color: #1EA97C; text-shadow: 1px 1px 1px #1EA97C; font-size: 2rem;">COVID-19-Page</h1>
    <h3 style="color: black; text-shadow: 1px 1px 1px #1EA97C; font-size: 1.5rem;">Do you want to know how fast coronavirus spreads when you sneeze? Just click he button</h3>
    <p-button 
        (onClick)="makeRainConfetti()" 
        icon="pi pi-chart-scatter" 
        [rounded]="true" 
        [text]="true" 
        [raised]="true" 
        severity="secondary"
        [style]="{'background-color':'#357F9B', 'color': 'white'}"
     />
</div>
