<div class="card flex justify-content-center" style="padding: 0.5rem; display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1rem; grid-row: span;">
    @for(new of news; track new) {
        <p-accordion [activeIndex]="$index">
            <p-accordionTab [header]="new.title">
                <p>
                   {{ new.summary }}
                </p>
                <section style="text-align: center; border: none;">
                    <img [src]="new.media" width="50%" height="50%" style="border-radius: 0.5rem;" alt="author {{ new.author }}"/>
                </section>
            </p-accordionTab>
        </p-accordion>
    }
</div>


