<section style="padding: 10px;">
    <p-sidebar [(visible)]="sidebarVisible1" position="left">
        <ul class="side-list">
            <li><a class="links" routerLink="/">Landing page</a><span></span></li>
            <li><a class="links" routerLink="/second">Images</a><span></span></li>
            <li><a class="links" routerLink="/circles">Circles</a><span></span></li>
            <li><a class="links" routerLink="/form">Covid-News</a><span></span></li>
            <li><a class="links" routerLink="/timeline">Covid-19-Stats</a><span></span></li>
        </ul>
    </p-sidebar>
    <p-button 
    type="button" 
    class="mr-2" 
    severity="secondary"
    (click)="sidebarVisible1 = true" 
    icon="pi pi-bars"
    [style]="{'background-color':'white', 'border': 'none', 'color':'black'}"
    />
    <h2 style="display: inline; margin-left: auto; margin-right: 2rem; color: white; text-shadow: 5px 7px 2px black;">Know the most recent stats of COVID-19</h2>
</section>
<router-outlet></router-outlet>