<section>
    @for(color of rainbowColorArray; track color) {
        <div [ngStyle]="{'background-color': color }"></div>
    }
    @for(color of rainbowColorArray; track color) {
        <div [ngStyle]="{'background-color': color }"></div>
    }
    @for(color of rainbowColorArray; track color) {
        <div [ngStyle]="{'background-color': color }"></div>
    }
    @for(color of rainbowColorArray; track color) {
        <div [ngStyle]="{'background-color': color }"></div>
    }
    @for(color of rainbowColorArray; track color) {
        <div [ngStyle]="{'background-color': color }"></div>
    }
    @for(color of rainbowColorArray; track color) {
        <div [ngStyle]="{'background-color': color }"></div>
    }
    @for(color of rainbowColorArray; track color) {
        <div [ngStyle]="{'background-color': color }"></div>
    }
</section>

