section {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

i {
    margin-inline: 0.5rem;
}

i, p {
    font-size: 1.2rem;
}

p-button {
    align-self: center;
    margin-block-start: 50px;
}

img {
    align-self: end;
    margin-inline: 50px;
}